$light-theme: #F9E8D5;
$lighter-theme: #e2d2bf;
$dark-theme: #583400;
$darker-theme: #382100;
$light-grey: #f5f5f5;
$medium-grey: #adadad;
$dark-grey: #434343;
$dark-red: #CC0000;
.home{
    section.education{
        max-width: 1200px;
        margin: auto;
        padding: 50px 15px;
        display: flex;
        flex-wrap: wrap;
        .intro{
            width:100%;
            max-width:500px;
            margin: 20px 60px;
            h3{
                font-size: 40px;
                margin-bottom: 25px;
            }
            .status{
                background-color: $dark-red;
                color: $light-grey;
                border-radius: 1px;
                margin-bottom: 25px;
                padding: 5px 20px;
                height: auto;
                font-size: 14px;
                text-align: center;
                max-width: 250px;
            }
            p{
                margin-bottom: 25px;
            }
            .buttons{
                display: flex;
                .signup{

                    background-color: $dark-grey;
                    color: $light-grey;
                    border-radius: 5px;
                }
                .watch{
                    background-color: $light-grey;
                    color: $dark-grey;
                    border: 2px solid $dark-grey;
                    border-radius: 5px;

                }
            }
        }
        .slide{
            width:100%;
            max-width:500px;
            .dots{
                margin:auto;
                display: flex;
                justify-content: center;
                .dot{
                    margin: 6px;
                    border-radius: 50%;
                    height: 6px;
                    width: 6px;
                    background-color: $medium-grey;
                    &.current{
                        background-color: $dark-grey;
                    }
                }
            }
            .carousel{
                margin:20px auto;
                display: flex;
                align-items: center;
                justify-content: center;
                .left, .right{
                    flex-shrink: 0;
                    margin: 0 20px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 2px solid #eee;
                    color: #eee;
                    font-size: 25px;
                    font-weight: bold;
                    line-height: 1.4;
                    text-align: center;
                    &.hide{
                        visibility: hidden;
                    }
                    &:hover{
                        border: 2px solid #bbb;
                        color: #bbb;
                        cursor: pointer;

                    }
                }
                .content{
                    height: 450px;
                    width: 100%;
                    max-width: 330px;
                    overflow: hidden;
                    position: relative;
                    & > div{
                        position: absolute;
                        left : 0;
                        top:0;
                        height: 450px;
                        width: 100%;
                        display: none;
                        transition: all ease-in .2s;
                        &.previous{
                            display: block;
                            transform: translateX(-100%)
                        }
                        &.current{
                            display: block;
                            
                        }
                        &.next{
                            display: block;
                            transform: translateX(100%)
                        }
                        .card{
                            width: 220px;
                            margin: auto;
                            .potrait{
                                width: 100%;
                                img{
                                    width: 100%;
                                }
                            }
                            .bios{
                                display: flex;
                                justify-content: space-between;
                                .basic{
                                    h5{
                                        font-size: 14px;
                                        font-weight: bold;
                                    }
                                    p{ 
                                        font-size: 14px;
                                    }

                                }
                                .university{
                                    width: 40px;
                                    height: 40px;
                                    img{
                                        width: 100%;
                                    }
                                }
                            }
                        }
                        .quote{
                            .quotemark{
                                color: $medium-grey;
                                margin-bottom: -50px;
                                font-size: 100px;
                            }
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    section.procedure{
        background-color: $light-grey;
        .procedurecontent{
            max-width: 1200px;
            margin: auto;
            padding: 50px 15px;
            h3{
                font-size: 40px;
                margin-bottom: 25px;
            }
            .demo{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: stretch;
                .illustration{
                    max-width:450px;
                    img{
                        // box-shadow: 2px 2px 4px #ccc;
                        width: 100%;
                        height: 100%;
                    }
                }
                .steps{
                    display: flex;
                    flex-direction: column;
                    .step{
                        flex-grow: 1;
                        display: flex;
                        align-items: center;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        .index{
                            color: #555;
                            font-family: 'Yanone Kaffeesatz', sans-serif;
                            margin: 5px 10px;
                            font-size: 100px;
    
                        }
                        .detail{
                            h4{
                                color: #555;
                                font-size: 25px;
                            }
    
                        }
                    }
                }
            }
        }
        
    }
    section.fitting{
        max-width: 1200px;
        margin: auto;
        padding: 50px 15px;
        h3{
            font-size: 40px;
            margin-bottom: 25px;
        }
        
        .texts{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 1000px;
            margin: auto;
            margin-bottom: 150px;
            .ptab{
                .icon{
                    max-width: 150px;
                    margin: 50px auto;
                    img{
                        width: 100%;
                    }
                }
                h4{
                    text-align: center;
                    margin-bottom: 20px;
                    font-weight: bold;
                    font-size:18px;
                }
                p{
                    text-align: center
                }
            }
        }
    }
}

@media only screen and (max-width: 795px) {
    .home{
        section.education{
            .intro{
                margin: 5px 5px;
            }
            .slide{
                margin-top: 40px;
                .carousel{
                    margin:5px auto;
                    .left, .right{
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}



