// @font-face {
//     font-family: "myfont";
//     src: url("./test.ttf") format("truetype");
// }
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
    padding: 0 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p, span,a ,li{
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

button{
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 250px;
    box-shadow: none;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
    margin: 5px;
    border: none;
}